<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JT9N5KK5P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-5JT9N5KK5P');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="og:description" content="{{ metadata.description }}">
    <meta name="author" content="{{ metadata.author }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://brandnewguys.co/">
    <meta property="og:site_name" content="Brand New Guys">
    <meta
      name="og:image"
      property="og:image"
      itemprop="image"
      content="https://brandnewguys.co/img/bng-monogram-subtitle.jpg">
    <link rel="canonical" href="https://brandnewguys.co/">
    <link rel="icon" href="static/img/favicon.ico">
    <script type="application/ld+json">
      {
      "name":"Brand New Guys",
                                                  "description":"{{ metadata.description }}",
      "author": {
                                                  "@type":"Person",
                                                  "name":"{{ metadata.author }}"
      },  
                                                  "@type":"WebSite",
                                                  "url":"https://brandnewguys.co/",
                                                  "publisher": {
                                                  "@type":"Organization",
                                                  "name":"Brand New Guys",
                                                  "logo": {
                                                      "@type":"ImageObject", 
                                                      "url":"https://brandnewguys.co/img/bng-monogram-subtitle.jpg"
                                                  }
                                                  },
                                                  "headline":"Home", 
                                                  "sameAs":["https://instagram.com/brandnewguys.agency"],  
                                                  "@context":"https://schema.org"
                                                  }
    </script>

    <link rel="stylesheet" href="https://use.typekit.net/gll7dfd.css">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <link rel="stylesheet" href="/dist/index.css">
  </head>
  <body>
    <div class="app">
      <main>
        <!-- <button type="button" class="button-slider-open js-slider-open">
        hover
        </button> -->
        <button
          class="button-slider-open js-slider-open"
          type="button"
          aria-label="button open slider">
          <svg
            class="button-slider-open__icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 9.68 11.617">
            <path class="button-slider-open__icon-square" d="M2.636 11.617H.181A.177.177 0 010 11.436V8.981A.177.177 0 01.181 8.8h2.442a.177.177 0 01.181.181v2.442a.17.17 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M6.073 11.617H3.618a.177.177 0 01-.181-.181V8.981a.177.177 0 01.181-.181H6.06a.177.177 0 01.181.181v2.442a.178.178 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M9.51 11.617H7.055a.177.177 0 01-.181-.181V8.981a.177.177 0 01.181-.181h2.442a.177.177 0 01.181.181v2.442a.178.178 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M2.636 8.18H.181A.177.177 0 010 7.999V5.544a.177.177 0 01.181-.181h2.442a.177.177 0 01.181.181v2.442a.17.17 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M6.073 7.65H3.618a.177.177 0 01-.181-.181V5.014a.177.177 0 01.181-.181H6.06a.177.177 0 01.181.181v2.442a.178.178 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M9.51 6.849H7.055a.177.177 0 01-.181-.181V4.213a.177.177 0 01.181-.181h2.442a.177.177 0 01.181.181v2.442a.171.171 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M2.636 4.742H.181A.177.177 0 010 4.561V2.106a.177.177 0 01.181-.181h2.442a.177.177 0 01.181.181v2.442a.17.17 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M6.073 3.605H3.618a.177.177 0 01-.181-.181V.969a.177.177 0 01.181-.181H6.06a.177.177 0 01.181.181v2.442a.171.171 0 01-.168.194z" />
            <path class="button-slider-open__icon-square" d="M9.51 2.8H7.055a.177.177 0 01-.181-.181V.181A.177.177 0 017.055 0h2.442a.177.177 0 01.181.181v2.442a.166.166 0 01-.168.177z" />
          </svg>
        </button>
        <!-- CONTENT-->
        <section class="content js-content">
          <a-scene vr-mode-ui="enabled: false" device-orientation-permission-ui="
                                                                                                                                                                                                                                                        enabled: true;
                                                                                                                                                                                                                                                        deviceMotionMessage: For the optimal viewing experience, Please allow us to use your phone's capabilities in the next dialog;
                                                                                                                                                                                                                                                        allowButtonText: Okay;">
            <a-sky rotation="0 -130 0" src="{{ background }}"></a-sky>
            <a-entity
              id="camera"
              camera
              look-controls></a-entity>
          </a-scene>
          <div class="container">
            <div class="content__subheadings">
              <svg
                version="1.1"
                id="bng-logo"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 591.3 88.5"
                style="enable-background:new 0 0 591.3 88.5;"
                xml:space="preserve">
                <g>
                  <path d="M4.6,10c0-0.6,0.5-1.1,1.1-1.1h21.9c0.6,0,1.4,0.4,1.9,0.8l7.7,7.7c0.5,0.5,0.8,1.3,0.8,1.9v17.6c0,0.6-0.4,1.5-0.8,1.9
                                                                                                                                                                                                                                                                                                                                                                    l-2.7,2.8c-0.5,0.5-0.5,1.2-0.1,1.6l2.9,2.9c0.4,0.5,0.7,1.3,0.7,1.9v21.5c0,0.6-0.4,1.4-0.8,1.9l-7.7,7.7
                                                                                                                                                                                                                                                                                                                                                                    c-0.5,0.5-1.3,0.8-1.9,0.8H15.6c-0.6,0-1.1,0-1.1,0s-0.6,0-1.1,0H5.8c-0.7,0-1.1-0.5-1.1-1.1V10z M15.6,18.7
                                                                                                                                                                                                                                                                                                                                                                    c-0.6,0-1.1,0.5-1.1,1.1v16.4c0,0.7,0.5,1.1,1.1,1.1h8c0.6,0,1.5-0.3,1.9-0.7l2-2c0.4-0.5,0.7-1.3,0.7-2v-9.4
                                                                                                                                                                                                                                                                                                                                                                    c0-0.6-0.4-1.5-0.7-1.9l-2-2c-0.4-0.4-1.3-0.7-1.9-0.7H15.6z M27.5,67c0.4-0.4,0.7-1.3,0.7-1.9V51.9c0-0.6-0.4-1.5-0.7-2l-1.9-1.9
                                                                                                                                                                                                                                                                                                                                                                    c-0.5-0.5-1.3-0.8-1.9-0.8h-8.2c-0.6,0-1.1,0.6-1.1,1.1v20.3c0,0.7,0.5,1.1,1.1,1.1h8c0.6,0,1.5-0.4,1.9-0.7L27.5,67z" />
                  <path d="M80.8,42.6c0,0.7-0.4,1.5-0.8,2l-2.9,2.9c-0.5,0.5-0.7,1.3-0.6,1.9l5.1,29.3c0.1,0.7-0.4,1.1-0.9,1.1h-7.8
                                                                                                                                                                                                                                                                                                                                                                    c-0.7,0-1.2-0.5-1.3-1.1l-4.3-24.4c-0.1-0.6-0.7-1-1.3-1h-7.7c-0.6,0-1.1,0.5-1,1v24.4c0,0.6-0.6,1.1-1.1,1.1h-7.6
                                                                                                                                                                                                                                                                                                                                                                    c-0.6,0-1.1-0.5-1.2-1.1V10.1c0-0.7,0.5-1.1,1.1-1.1h21.8c0.7,0,1.5,0.4,2,0.8l7.7,7.7c0.5,0.5,0.8,1.3,0.8,1.9V42.6z M70.1,40.5
                                                                                                                                                                                                                                                                                                                                                                    c0.5-0.5,0.8-1.3,0.8-2v-15c0-0.6-0.4-1.5-0.8-1.9l-2-2c-0.5-0.5-1.3-0.8-1.9-0.8h-8c-0.6,0-1.1,0.6-1.1,1.1V42
                                                                                                                                                                                                                                                                                                                                                                    c0,0.6,0.6,1.1,1.1,1.1h8c0.6,0,1.4-0.3,1.9-0.7L70.1,40.5z" />
                  <path d="M107.3,10c0.1-0.6,0.7-1,1.4-1h7.4c0.7-0.1,1.3,0.5,1.4,1l16.7,68.6c0.2,0.7-0.3,1.1-0.8,1.1h-8.1c-0.6,0-1.2-0.5-1.4-1.1
                                                                                                                                                                                                                                                                                                                                                                    l-2.3-9.8c-0.1-0.6-0.7-1.1-1.4-1H105c-0.7,0-1.3,0.5-1.4,1l-2.3,9.8c-0.2,0.7-0.7,1.1-1.4,1.1h-8.1c-0.6,0-0.9-0.5-0.8-1.1
                                                                                                                                                                                                                                                                                                                                                                    L107.3,10z M106.5,56.6c-0.1,0.7,0.3,1.1,0.8,1.1h10.5c0.7,0,1-0.6,0.8-1.1l-5.9-24.1c-0.2-0.6-0.5-0.6-0.6,0L106.5,56.6z" />
                  <path d="M166.4,45.6c0.2,0.6,0.4,0.6,0.4-0.1V10c0-0.6,0.6-1.1,1.1-1.1h7.6c0.7,0,1.1,0.6,1.1,1.1v68.6c0,0.7-0.5,1.1-1.1,1.1h-6.1
                                                                                                                                                                                                                                                                                                                                                                    c-0.7,0-1.3-0.5-1.5-1l-14.3-39.9c-0.3-0.6-0.4-0.5-0.4,0.1v39.7c0,0.7-0.6,1.1-1.1,1.1h-7.6c-0.6,0-1.1-0.5-1.1-1.1V10.1
                                                                                                                                                                                                                                                                                                                                                                    c0-0.7,0.5-1.1,1.1-1.1h7.6c0.7,0,1.3,0.5,1.5,1L166.4,45.6z" />
                  <path d="M187,79.7c-0.7,0-1.1-0.5-1.1-1.1V10.1c0-0.7,0.5-1.1,1.1-1.1h21.9c0.6,0,1.5,0.3,1.9,0.7l7.7,7.7c0.5,0.5,0.8,1.3,0.8,2
                                                                                                                                                                                                                                                                                                                                                                    v49.9c0,0.6-0.4,1.5-0.8,1.9l-7.7,7.7c-0.4,0.5-1.3,0.8-1.9,0.8H187z M204.8,69.8c0.6,0,1.5-0.4,1.9-0.8l2-2
                                                                                                                                                                                                                                                                                                                                                                    c0.5-0.4,0.8-1.3,0.8-1.9V23.5c0-0.7-0.4-1.5-0.8-2l-2-2c-0.4-0.4-1.3-0.7-1.9-0.7h-8c-0.6,0-1.1,0.5-1.1,1.1v48.8
                                                                                                                                                                                                                                                                                                                                                                    c0,0.6,0.6,1.1,1.1,1.1H204.8z" />
                  <path d="M274.8,45.6c0.2,0.6,0.4,0.6,0.4-0.1V10c0-0.6,0.6-1.1,1.1-1.1h7.6c0.7,0,1.1,0.6,1.1,1.1v68.6c0,0.7-0.5,1.1-1.1,1.1h-6.1
                                                                                                                                                                                                                                                                                                                                                                    c-0.6,0-1.3-0.5-1.5-1L262,38.8c-0.3-0.6-0.4-0.5-0.4,0.1v39.7c0,0.7-0.6,1.1-1.1,1.1h-7.6c-0.7,0-1.1-0.5-1.1-1.1V10.1
                                                                                                                                                                                                                                                                                                                                                                    c0-0.7,0.5-1.1,1.1-1.1h7.6c0.7,0,1.3,0.5,1.5,1L274.8,45.6z" />
                  <path d="M322.7,17.8c0,0.6-0.6,1.1-1.1,1.1h-16.3c-0.7,0-1.1,0.5-1.1,1.1v13.2c0,0.7,0.5,1.1,1.1,1.1h12.4c0.6,0,1.1,0.6,1.1,1.1
                                                                                                                                                                                                                                                                                                                                                                    v7.6c0,0.6-0.6,1.1-1.1,1.1h-12.4c-0.7,0-1.1,0.6-1.1,1.1v23.4c0,0.7,0.5,1.1,1.1,1.1h16.3c0.6,0,1.1,0.5,1.1,1.1v7.6
                                                                                                                                                                                                                                                                                                                                                                    c0,0.7-0.6,1.1-1.1,1.1h-26.2c-0.7,0-1.1-0.5-1.1-1.1V10.2c0-0.7,0.5-1.1,1.1-1.1h26.2c0.6,0,1.1,0.5,1.1,1.1V17.8z" />
                  <path d="M372,51.6c0.1,0.6,0.3,0.6,0.4,0l7.4-41.6c0.1-0.6,0.7-1,1.3-1h7.7c0.7,0,1,0.5,0.9,1l-12.2,68.6c-0.1,0.7-0.7,1.1-1.3,1.1
                                                                                                                                                                                                                                                                                                                                                                    h-8.5c-0.7,0-1.2-0.5-1.3-1.1L360.2,40c-0.1-0.6-0.3-0.6-0.4,0l-6.1,38.6c-0.1,0.7-0.7,1.1-1.3,1.1h-8.5c-0.7,0-1.2-0.5-1.3-1.1
                                                                                                                                                                                                                                                                                                                                                                    L330.2,10c-0.1-0.6,0.3-1,0.9-1h7.8c0.6,0,1.2,0.5,1.3,1l7.4,41.6c0.1,0.6,0.3,0.6,0.4,0l6.7-41.6c0.1-0.6,0.2-1,0.3-1s0.7,0,1.3,0
                                                                                                                                                                                                                                                                                                                                                                    h7.4c0.6,0,1.1,0,1.2,0s0.3,0.5,0.4,1L372,51.6z" />
                  <path d="M429.9,9.8c0.4-0.5,1.3-0.8,1.9-0.8h12.5c0.6,0,1.4,0.4,1.9,0.8l7.7,7.7c0.5,0.5,0.8,1.3,0.8,1.9V29c0,0.7-0.6,1.1-1.1,1.1
                                                                                                                                                                                                                                                                                                                                                                    H446c-0.7,0-1.1-0.5-1.1-1.1v-5.6c0-0.6-0.4-1.5-0.7-1.9l-2-2c-0.4-0.5-1.3-0.8-1.9-0.8h-4.4c-0.7,0-1.5,0.4-1.9,0.8l-2,2
                                                                                                                                                                                                                                                                                                                                                                    c-0.4,0.4-0.7,1.3-0.7,1.9v41.7c0,0.7,0.4,1.5,0.7,1.9l2,2c0.4,0.4,1.2,0.7,1.9,0.7h4.4c0.6,0,1.5-0.4,1.9-0.7l2-2
                                                                                                                                                                                                                                                                                                                                                                    c0.4-0.4,0.7-1.2,0.7-1.9V48.3c0-0.7-0.5-1.1-1.1-1.1h-4.6c-0.7,0-1.1-0.6-1.1-1.1v-7.6c0-0.7,0.5-1.1,1.1-1.1h14.5
                                                                                                                                                                                                                                                                                                                                                                    c0.6,0,1.1,0.5,1.1,1.1v30.8c0,0.6-0.4,1.5-0.8,1.9l-7.7,7.8c-0.5,0.4-1.3,0.7-1.9,0.7h-12.5c-0.6,0-1.5-0.4-1.9-0.7l-7.8-7.8
                                                                                                                                                                                                                                                                                                                                                                    c-0.4-0.4-0.7-1.3-0.7-1.9V19.4c0-0.6,0.4-1.4,0.7-1.9L429.9,9.8z" />
                  <path d="M486.7,67.1c0.5-0.5,0.7-1.3,0.7-2V10.1c0-0.7,0.6-1.1,1.1-1.1h7.6c0.7,0,1.1,0.5,1.1,1.1v59.2c0,0.7-0.4,1.5-0.7,2
                                                                                                                                                                                                                                                                                                                                                                    l-7.7,7.7c-0.5,0.4-1.3,0.7-2,0.7h-12.4c-0.7,0-1.5-0.4-2-0.7l-7.7-7.7c-0.4-0.5-0.7-1.3-0.7-2V10.1c0-0.7,0.5-1.1,1.1-1.1h7.6
                                                                                                                                                                                                                                                                                                                                                                    c0.6,0,1.1,0.5,1.1,1.1v55.1c0,0.7,0.4,1.5,0.7,2l2,2c0.5,0.4,1.3,0.7,2,0.7h4.3c0.7,0,1.5-0.4,2-0.7L486.7,67.1z" />
                  <path d="M525.3,30c0.2,0.7,0.6,0.7,0.8,0l8.1-20c0.2-0.6,0.9-1,1.5-1h8.5c0.6,0,0.9,0.5,0.7,1l-13.7,34.1c-0.2,0.6-0.4,1.6-0.4,2.1
                                                                                                                                                                                                                                                                                                                                                                    v32.3c0,0.7-0.6,1.1-1.1,1.1H522c-0.7,0-1.1-0.5-1.1-1.1V46.4c0-0.6-0.2-1.6-0.5-2.1L506.7,10c-0.3-0.6,0.1-1,0.7-1h8.5
                                                                                                                                                                                                                                                                                                                                                                    c0.6,0,1.3,0.5,1.5,1L525.3,30z" />
                  <path d="M561.8,9.8c0.5-0.5,1.3-0.8,1.9-0.8h12.5c0.7,0,1.5,0.4,2,0.8l7.7,7.7c0.4,0.5,0.7,1.3,0.7,1.9V29c0,0.7-0.5,1.1-1.1,1.1
                                                                                                                                                                                                                                                                                                                                  h-7.6c-0.6,0-1.1-0.5-1.1-1.1v-5.6c0-0.6-0.3-1.5-0.7-1.9l-2-2c-0.5-0.4-1.3-0.7-2-0.7h-4.4c-0.6,0-1.4,0.4-1.9,0.7l-2,2
                                                                                                                                                                                                                                                                                                                                  c-0.5,0.4-0.8,1.3-0.8,1.9v9.8c0,0.6,0.4,1.5,0.7,1.9l2,2c0.4,0.5,1.2,0.8,1.9,0.8h8.5c0.6,0,1.5,0.4,1.9,0.7l7.8,7.7
                                                                                                                                                                                                                                                                                                                                  c0.4,0.5,0.7,1.3,0.7,2v20.9c0,0.6-0.4,1.5-0.7,1.9l-7.7,7.8c-0.5,0.4-1.3,0.7-2,0.7h-12.5c-0.6,0-1.4-0.4-1.9-0.7l-7.7-7.8
                                                                                                                                                                                                                                                                                                                                  c-0.5-0.4-0.8-1.3-0.8-1.9V57.4c0-0.7,0.6-1.1,1.1-1.1h7.6c0.7,0,1.1,0.5,1.1,1.1v7.8c0,0.7,0.4,1.5,0.8,2l2,2
                                                                                                                                                                                                                                                                                                                                  c0.5,0.4,1.3,0.7,1.9,0.7h4.4c0.7,0,1.5-0.4,2-0.7l2-2c0.5-0.5,0.7-1.3,0.7-2V52.4c0-0.7-0.3-1.5-0.7-2l-2-2
                                                                                                                                                                                                                                                                                                                                  c-0.4-0.5-1.2-0.7-1.9-0.7h-8.5c-0.6,0-1.5-0.4-1.9-0.8l-7.8-7.7c-0.4-0.5-0.7-1.3-0.7-2V19.4c0-0.6,0.4-1.4,0.8-1.9L561.8,9.8z" />
                </g>
              </svg>
              <span class="content__subheading is-sm">{{ metadata.version }}</span>
              <span class="content__subheading is-sm">
                <a target="_blank" href="{{ metadata.location.url }}">{{ metadata.location.label }}</a>
              </span>
              <span class="content__subheading is-sm">
                <a target="_blank" href="{{ metadata.instagram }}">Instagram</a>
              </span>
              <span class="content__subheading is-sm">
                <a
                  target="_blank"
                  class="tbc"
                  href="/">hi {at} brandnewguys.co</a>
              </span>
              <span class="content__subheading is-sm">
                <a target="_blank" href="{{ metadata.phone }}">Phone</a>
              </span>
              <span class="content__subheading is-sm">
                <a class="tbc" href="{{ metadata.podcast.url }}">{{ metadata.podcast.label }}</a>
                <sup>coming soon</sup>
              </span>
            </div>
            <h2 class="content__heading">
              {{ content }}
            </h2>
          </div>
        </section>
        <!-- END CONTENT-->
        <!-- PLACEHOLDERS -->
        <div class="placeholders js-placeholders">
          {% for case in collections.case limit: 3 %}
            <div class="placeholders__img-wrap js-img-wrap" style="--aspect-ratio: 0.8;">
              <img
                src="{{ case.data.img }}"
                alt="Brand New Guys x {{ case.data.title }}"
                class="placeholders__img">
            </div>
          {% endfor %}
        </div>
        <!-- END PLACEHOLDERS -->
        <!-- SLIDER -->
        <div class="slider js-slider">
          <button
            class="slider__button-close js-slider-close"
            type="button"
            aria-label="close slider">
            <svg
              class="slider__button-close-icon js-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 205 205">
              <g
                class="js-circle"
                fill="none"
                stroke="var(--color-grey-darker)">
                <circle
                  cx="102.5"
                  cy="102.5"
                  r="102" />
              </g>
              <g
                class="js-x"
                fill="none"
                stroke="var(--color-grey-darker)"
                stroke-linecap="round">
                <path d="M94 94l16.139 16.139" />
                <path d="M94 110.492l16.493-16.493" />
              </g>
            </svg>
          </button>
          <div class="slider__container js-container" data-scroll>
            {% for case in collections.case %}
              <div class="slider__item js-item" style="--aspect-ratio: 0.8;">
                <div
                  class="slider__item-img-wrap js-img-wrap js-img"
                  style="--aspect-ratio: 0.8;"
                  data-building="building-slug"
                  data-index="1">
                  <img
                    src="{{ case.data.img }}"
                    alt="Brand New Guys x {{ case.data.title }}"
                    class="slider__item-img">
                </div>
                <div class="slider__item-content">
                  <div class="slider__item-heading-wrap">
                    <h3 class="slider__item-heading js-heading">
                      {{ case.data.title }}
                    </h3>
                  </div>
                  <div class="slider__item-button-wrap">
                    <a
                      class="button slider__item-button js-button"
                      type="button"
                      data-slug="indigo"
                      href="{{ case.data.deeplink }}"
                      target="_blank">
                      <span class="button__title-mask">
                        <div class="button__title-wrap">
                          <span class="button__title">Open</span>
                          <span class="button__title--secondary">Open</span>
                        </div>
                      </span>
                      <span class="button__icon">
                        <span class="button__circle"></span>
                        <svg
                          class="button__svg"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 16.002 4.639">
                          <path d="M.25 2.264h15.403" />
                          <path d="M13.743.354l1.91 1.91-1.919 2.022" />
                        </svg>
                        <svg
                          class="button__svg button__svg--clone"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 16.002 4.639">
                          <path d="M.25 2.264h15.403" />
                          <path d="M13.743.354l1.91 1.91-1.919 2.022" />
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="slider__progress-wrap js-progress-wrap">
            <div class="slider__progress js-progress"></div>
          </div>
        </div>
        <!-- END SLIDER -->
      </main>
    </div>
    <script src="/dist/index.js"></script>
  </body>
</html>